[mysqld]
# WordPress container is not localhost from MariaDB's perspective.
# The service listens on the docker network interface
bind-address = 0.0.0.0

port=3306

# Directory where you want to put your data | This is our volume
datadir=/var/lib/mysql

# Enable logging by default to help find problems
general-log
