[mysqld]
# WordPress container is not localhost from MariaDB's perspective.
# The service listens on the docker network interface
bind-address = 0.0.0.0

port=3306

# Directory where you want to put your data | This is our volume
datadir=/var/lib/mysql

#Not needed
# Directory for the errmsg.sys file in the language you want to use
#language=/usr/local/share/mysql/english

# This is the prefix name to be used for all log, error and replication files
#log-basename=mysqld

# Enable logging by default to help find problems
general-log
#log-slow-queries
